server:
  port: 8080

spring:
  application:
    name: studieadministrasjon
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
